name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  job1:
    name: job1
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash    
    steps:
      - name: checkout
        uses: actions/checkout@v1

      - name: folder-create
        run: mkdir -p lalala

      - name: echo
        run: echo hello > lalala/world.txt

      - name: archive artifact
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: lalala
          retention-days: 3

  job2:
    name: job2
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash    
  
    steps:
    - name: lala
      uses: actions/checkout@master

    - name: lele
      uses: actions/download-artifact@v3
      with:
        name: my-artifact
        
    - name: cat_file
      run: cat lalala/world.txt
  

#https://stackoverflow.com/questions/57498605/github-actions-share-workspace-artifacts-between-jobs

